.container{
    height: 100vh;
    width: 100%;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}
.search-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 15px;
    font-size: 20px;
}
.search-box img{
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    cursor: pointer;
}
.temperature{
    font-size: 45px;
    color: white;
}
.city{
    font-size: 30px;
    color: white;
}
.weather-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 5px;
    color: white;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 20px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}
#error{
    margin-top: 20px;

}